.shop {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 1em;
  padding: 2em;
  justify-content: center;
  justify-items: center;
  background-color: #c9dadf;
  border-radius: 20px;
  margin: 2em 2em;
}

.centered {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em;
  background-color: #c9dadf;
  padding: 2em 0;
  flex-wrap: wrap;
  gap: 1em;
  border-radius: 15px;
}

.shoppingImage1 {
  width: 380px;
  object-fit: cover;
}
.noProducts {
  font-size: 1.2rem;
  font-family: 'Varela Round', sans-serif;
  color: #b9213a;
  font-weight: bold ;
  text-align: center;
  display: flex;
  width: 100%;
  margin-bottom: 2em;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .shop {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }

  .centered {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }

  .shoppingImage1 {
    width: 100%;
    padding: 1em;
  }
}
