.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  background-color: #c9dadf;
  flex-wrap: wrap;
  padding: 1em 2em;
}

.home > h1 {
  font-size: 2rem;
  color: #336688;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px #336688;
  padding: 1em 2em;
  transition: all 0.3s ease-in-out;
}

img:hover {
  background-color: rgba(41, 70, 32, 0.1);
  transform: translateY(-10px);
  border: 1px solid #336688;
}

.title {
  font-size: 3rem;
  color: #336688;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtitle {
  margin-top: 20px;
  font-size: 1.8rem;
  color: #336688;
  font-weight: 200;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  text-align: center;
}

.linkContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #336688;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.link:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {

    .home {
    padding: 1em;
    height: fill-content;
  }
  .img {
    width: 200px;
    height: 200px;
  }
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .link {
    font-size: 1rem;
  }
}
